[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "<3.9,>=3.8.0"
pandas = "<3.0.0,>=2.0.0"
progressbar = "==2.5"
pyarrow = "<12.0.0,>=11.0.0"
scikit-learn = "==1.3.2"
scipy = "==1.11.4"
torch = "==2.0.1"
cython = "==3.0.2"
networkx = "<3,>=2.3"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"